body{
    margin: 0px;
    padding: 20px;
    background-color: rgb(239, 214, 183);
}

.contenedor{
    /*genera una cuadricula que permite mover los elementos*/
    display: grid;
    grid-template-columns: repeat(4,1fr);  /* dos columnas */
    gap:20px; /* define el espacio entre las columnas/elementos */
}

.caja{
    background-color: rgb(241, 215, 241);
    padding: 40px;
    border-radius: 10px;
}

.imagen{
    width: 200px;
    height: auto;
}

@media(max-width:1920px){
    .contenedor{
        grid-template-columns:repeat(4,1fr);
    }
    .caja{
        background-color: rgb(190, 162, 216);
    }
}

@media(max-width:1280px){
    .contenedor{
        grid-template-columns:repeat(3,1fr);
    }
    .caja{
        background-color: rgb(230, 166, 193);
    }
}

@media(max-width:1024px){
    .contenedor{
        grid-template-columns:repeat(2,1fr);
    }
    .caja{
        background-color: rgb(160, 161, 223);
    }
}

@media(max-width:800px){
    .contenedor{
        grid-template-columns: 1fr;
    }
    .caja{
        background-color: rgb(187, 181, 125);
    }
}