h1{
    background-color: red;
}

.box{
    margin:30px;
    padding:5px;
    border: 3px solid red;
    background-color: lightblue;
}

.box2{
    width: 100px;
    height: 100px;
    background-color: rosybrown;
    /*Por defecto*/
    position: static;
}

.box3{
    width: 100px;
    height: 100px;
    background-color: plum;
    position: relative;
    top: 20px;
    left: 30px;

    /*bottom
    right */
}

.container{
    width: 200px;
    height: 200px;
    background-color:aqua;
    position: relative;
}

.box4{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.box5{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    position: fixed;
    bottom: 10px;
    right: 10px;
}